html {
    font-size: 1.1rem;
}

/* Layouts */
body {
    max-width: 55rem;
    margin: 0 auto;
}

header {
    padding-top: 1.5rem;
}

.page-wrap {
    display: flex;
}

main {
    flex: 3;
    padding: 1.5rem;
}

main section {
    margin-bottom: 1rem;
    border: 3px solid #333;
}

main section h2 {
    border-bottom: 3px solid #333;
}

aside {
    flex: 1;
    padding: 1.5rem 1.5rem 1.5rem 0;
}

aside section {
    margin-bottom: 1rem;
    padding: .75rem;
    border: 3px solid #333;
}

@media (max-width: 60rem) {
    .page-wrap {
        flex-direction: column;
    }

    aside {
        padding: 1.5rem;
    }
}

/* Text */
body {
    color: white;
}

header {
    text-align: center;
}

main section h2 {
    padding: .75rem;
    margin: auto;
}

.section-body {
    padding: .75rem;
}

.section-body p {
    margin: .5rem auto;
}

aside h2 {
    margin: .5rem auto;
}

section a {
    color: lightblue;
    text-decoration: none;

}

section a:hover {
    text-decoration: underline;
}

section h2 {
    font-family: Arial, Helvetica, sans-serif;
}

/* Elements */
body {
    background-color: black;
}

header img {
    max-width: 100%;
}

section {
    border-radius: 7px;
}

main section img {
    max-width: 100%;
}

.section-heading {
    background-color: #112;
}

.section-body {
    background-color: #111;
}

aside li img {
    max-height: 0.75rem;
    margin-left: 0.25rem;
}

/* UTN Box */
.utn h2 {
    text-align: left;
}

.utn {
    text-align: center;
}

/* Greg's Box */
.greg div.section-body {
    background-image: url(resources/raphael-rychetsky-li9JfUHQfOY-unsplash.jpg);
    background-size: 150%;
    min-height: 20rem;

}

/* 209.2 Box */

.forge {

}